.home-menu{
    background-color: #080808;
    border-color: #080808;
}

.home-menubar{
    background-color: #3E78A6;
    border-color: #3E78A6;
}

.home-menubar a{
    font-weight: bolder !important;
    color: #ffffff;
}

.home-menubar .navbar-nav > li > a{
    color:#FFFFFF;
}

.home-menubar .navbar-nav > li > a:focus{
    color:#FFFFFF;
}

.home-menubar .navbar-nav > .active > a{
    color:#555555;
    background-color: #FFFFFF;
}

.nopdrl{
    padding-right: 0px;
    padding-left: 0px;
}
/*--------------------------------------------*/
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #eee;
  border-radius: 5px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  height: 30px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}
.navbar-right > li > a{
    font-weight: bolder;
}
.center{
    text-align: center;
}
.pointer{
    cursor: pointer;
}
.valign > td{
    vertical-align: middle !important;
}
.odd{
    padding: 10px 0px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    padding-left: 10px;
}
.even{
    padding: 10px 0px;
    padding-left: 10px;
}
.bold{
    font-weight: bolder;
}
.page-header{
    margin-top:0px !important;
}